
.card-img-top {
    width: 100%;
    height: 208px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.linkedIn {
    background-color: #0077B5;
    border: none;
    color: white;
}


a:hover {
    background-color: #0077B5;
    text-emphasis: bold;
}